<nav-bar></nav-bar>
<div class="grid-container">

    <mat-grid-list cols="1" rowHeight="220px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="user-info">
            <h5>{{name}}</h5>
            <div class=user-info-roles>
          <h4>Welcome, {{username}}</h4>
          <roles-menu [roles]="roles" matTooltip="click to display roles"></roles-menu>
        </div>
          <h6>{{today | date:'medium'}}</h6>
          <autocomplete-input [placeholderData]="placeholderData"></autocomplete-input>
          <!-- <autocomplete-input [placeholderData]="placeholderData2"></autocomplete-input> -->
        </div>
        </mat-grid-tile>
      </mat-grid-list>


  <!-- <h1 class="mat-h1">Dashboard</h1> -->
  <mat-grid-list cols="4" rowHeight="350px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Hello
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Hello
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>Card Content Here</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
  </mat-grid-list>
</div>
