<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<nav-bar></nav-bar>
<div class="grid-container">
  <div>
    <mat-grid-list cols="5" rowHeight="2:1.2">
      <div>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="user-info">
            <h5>SP Admin Analysis</h5>
            <div class=user-info-roles>
              <h4>Welcome, {{username}}</h4>
              <!-- <roles-menu [roles]="roles" matTooltip="click to display roles"></roles-menu> -->
            </div>
            <h6>{{today | date:'medium'}}</h6>
            <!-- <autocomplete-input [placeholderData]="placeholderData"></autocomplete-input> -->
            <!-- <autocomplete-input [placeholderData]="placeholderData2"></autocomplete-input> -->
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="4" [rowspan]="1">

          <div *ngIf="dataLoading">
            <span>Data Loading. Please Wait...<loader></loader></span>
          </div>

              <div class="scroll-container" style="overflow: auto">
                  <div *ngFor="let status of deviceStatus">
                    <div class="information-card col-lg-12 col-md-10 col-sm-2">
                        <p>{{status.status}}</p>
                        <h6>Monthly | Yearly</h6>
                        <h4>{{status.monthlyTotal || 0}} | {{status.yearlyTotal || 0}}</h4>
                    </div>
                </div>
              </div>

          
        </mat-grid-tile>
      </div>
    </mat-grid-list>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <h6 id="chart-tags">Rate Plan Analysis</h6>
          <div class="pie-chart-container">
            <rate-plan-donut-chart></rate-plan-donut-chart>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>

        <div class="col-lg-6">
            <h6 id="chart-tags">Communication Plan Analysis</h6>
            <div class="pie-chart-container">
            <comm-plan-donut-chart></comm-plan-donut-chart>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
          </div>
          </div>
      </div>
    </div>

  </div>


  <!-- <footer class="footer">
    <div class="container" style="display: flex; justify-content: center; align-items: center;">

      <span class="attribution">
        &copy; Control Center 2019.
      </span>
    </div>
  </footer> -->