<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<nav-bar></nav-bar>
<div class="grid-container">
  <div>
    <mat-grid-list cols="5" rowHeight="150px" [style.background]="'#e3e3ed'">
      <div>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div class="user-info">
            <h5>SP Admin Analysis</h5>
            <div class=user-info-roles>
              <h4>Welcome, {{username}}</h4>
              <!-- <roles-menu [roles]="roles" matTooltip="click to display roles"></roles-menu> -->
            </div>
            <h6>{{today | date:'medium'}}</h6>
            <!-- <autocomplete-input [placeholderData]="placeholderData"></autocomplete-input> -->
            <!-- <autocomplete-input [placeholderData]="placeholderData2"></autocomplete-input> -->
          </div>
        </mat-grid-tile>
      </div>

      <div *ngIf="device0">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-card class="custom-card">
            <mat-card-header>
              <mat-card-title>{{firstDeviceStatus.status}}</mat-card-title>
              <mat-card-subtitle>Monthly | Yearly</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <h2>{{firstDeviceStatus.monthlyTotal}} | {{firstDeviceStatus.yearlyTotal}}</h2>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </div>
      <div *ngIf="device1">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-card class="custom-card">
            <mat-card-header>
              <mat-card-title>{{secondDeviceStatus.status}}</mat-card-title>
              <mat-card-subtitle>Monthly | Yearly</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <h2>{{secondDeviceStatus.monthlyTotal}} | {{secondDeviceStatus.yearlyTotal}}</h2>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </div>
      <div *ngIf="device2">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-card class="custom-card">
            <mat-card-header>
              <mat-card-title>{{thirdDeviceStatus.status}}</mat-card-title>
              <mat-card-subtitle>Monthly | Yearly</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <h2>{{thirdDeviceStatus.monthlyTotal}} | {{thirdDeviceStatus.yearlyTotal}}</h2>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </div>
      <div *ngIf="device3">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-card class="custom-card">
            <mat-card-header>
              <mat-card-title>{{fourthDeviceStatus.status}}</mat-card-title>
              <mat-card-subtitle>Monthly | Yearly</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <h2>{{fourthDeviceStatus.monthlyTotal}} | {{fourthDeviceStatus.yearlyTotal}}</h2>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </div>
    </mat-grid-list>



    <!-- <h1 class="mat-h1">Dashboard</h1> -->
    <mat-grid-list cols="5" rowHeight="1:1.11">

      <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'#e3e3ed'">
        <mat-card class="dashboard-card" [style.background]="'#c8c2d3'">
          <mat-card-header class="chart-toggle-card-header">

            <mat-card-actions>
              <div>Rate Plan
              <mat-slide-toggle [color]="color" [checked]="checked" [disabled]="disabled" (change)="donutChartToggle($event)" matTooltip="toggle between rate and comm plan"
                color="primary">
              </mat-slide-toggle>
              Comm. Plan</div>
            </mat-card-actions>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            
            <div style="margin-top:10px;">
              <rate-plan-donut-chart *ngIf="ratePlanDonutDisplay"></rate-plan-donut-chart>
              <comm-plan-donut-chart *ngIf="commPlanDonutDisplay"></comm-plan-donut-chart>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-card class="dashboard-card">
          <div>
            <app-acct-analytics-piechart></app-acct-analytics-piechart>
          </div>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-card class="dashboard-card">
          <div>
            <device-status></device-status>
          </div>
        </mat-card>
      </mat-grid-tile>

    </mat-grid-list>



  </div>


  <footer class="footer">
    <div class="container" style="display: flex; justify-content: center; align-items: center;">

      <span class="attribution">
        &copy; Control Center 2019.
      </span>
    </div>
  </footer>