@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';


//Light-Theme
@import '~@angular/material/theming';
@include mat-core();

$FrontEnd-CC-Analytics-primary: mat-palette($mat-blue);
$FrontEnd-CC-Analytics-accent: mat-palette($mat-pink, A200, A100, A400);
$FrontEnd-CC-Analytics-warn: mat-palette($mat-red);

$FrontEnd-CC-Analytics-theme: mat-light-theme($FrontEnd-CC-Analytics-primary, $FrontEnd-CC-Analytics-accent, $FrontEnd-CC-Analytics-warn);
@include angular-material-theme($FrontEnd-CC-Analytics-theme);
//Light Theme


//Dark Theme
.dark-theme {
    color: $light-primary-text;
    $dark-primary: mat-palette($mat-grey);
    $dark-accent: mat-palette($mat-amber, A400, A100, A700);
    $dark-warn: mat-palette($mat-red);
    $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  
    @include angular-material-theme($dark-theme);
  }
//Dark Theme
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Ubuntu", sans-serif; }
