// Colors
$shadow-config: 0 0 6px 2px rgba(0,0,0,.1);
$primary-color: #2196f3;
// colors

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.user-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px;

  h2 {
    float: left;
  }

  h4 {
    font-size: 1vw;
  }

  h5 {
    padding: 8px;
    background: #2196f3;
    border-radius: 8px;
    display: block;
    color: white;
    width: fit-content;
    font-size: 1vw;
  }

  .user-info-roles {
    * {
      display: inline-block;
    }
  }
}

.custom-card {
  width: 18vw;
  margin-inline-end: 0.5vw;
  padding: 5px;
  background-color: rgb(200, 194, 211);

  mat-card-content {
    h2 {
      text-align: center;
    }
  }
}

.chart-toggle-card-header {
  justify-content: space-between;
  display: inline;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
}

.information-card {
  width: 20vw;
  height: 9vw;
  margin: 10px 20px 20px 20px;
  background: rgb(255, 255, 255);
  box-shadow: $shadow-config;
  border-radius: 15px;
  position: relative;
  // transition: 0.2s ease-in-out;

  p {
    padding: 20px 0px 0px 20px;
    margin: 0px;
    font-weight: 800;
    font-size: 1.2vw;
  }

  h6 {
    padding: 20px 0px 0px 20px;
    margin: 0;
    font-size: 0.55vw;
    background: $primary-color;
    padding: 7px;
    border-radius: 8px;
    display: unset;
    margin-left: 20px;
    color: white;
  }

  h4 {
    margin-top: 0.6vw;
    text-align: center;
    font-size: 2.7vw;
    font-weight: 100;
  }
}

// .information-card:hover{
//   transform: scale(1.11);
// }

.scroll-container {
  display: flex;
  align-items: center;
  overflow: auto;

  *{
    text-transform: uppercase;
  }
}

.pie-chart-container {
  width: 100%;
  height: fit-content;
  padding: 30px;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 15px;
  box-shadow: $shadow-config;
}

.bar-chart-container {
  width: 100%;
  height: fit-content;
  padding: 30px;
  background: rgba(255, 255, 255, 0);
  border-radius: 15px;
  box-shadow: $shadow-config;
}

#chart-tags {
  padding: 10px;
  background: #2196f3;
  color: white;
  border-radius: 8px;
}

.form-container {
  mat-form-field {
    margin-right: 20px;
  }
}

.button-on-divider {
  display: inline-block;
  position: relative;
  top: -45px;
  left: 30px;
  text-align: center;
  background: #fafafa;
  color: white;

  #button-basic {
    background: rgb(113, 110, 163);
    background: linear-gradient(90deg, rgba(113, 110, 163, 1) 0%, rgba(36, 87, 143, 1) 0%, rgba(80, 136, 231, 1) 100%);
  }

}

::ng-deep .mat-form-field-underline {
  display: none;
}

.autocomplete-form{
  width: 300px;
}

.device-analysis-table-container{
  display: flex;
  flex-direction: row; 

  // table{
  //   width: 40%;
  // }

  table:nth-child(1){
    margin-right: 10px;
  }
}

.chart-container{
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(114, 114, 114, 0.411);
  border-radius: 20px;
  height: 10vw;
  width: 70vw;
}